body{
  overflow-x: hidden;
  margin: 0 auto !important;
}
.center {
  text-align: center;
}

.card-bs {
  box-shadow: -1px 5px 18px 2px rgb(0 0 0 / 23%);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#programs {
  margin: 0 auto;
}

.pad70 {
  padding: 70px 0;
}

.logo {
  height: 80px;
  width: 80px;
}

footer {
  background: #343a40;
  color: white;
}

.masthead {
  background: url("../img/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-size: auto;
  height: 100vh;
}

.intro-heading {
  color: #fed136;
  border-color: #0b0b0b;
  text-shadow: 6px 0px 20px #000000;
}

@media screen and (min-width: 975px) {
  #about p {
    font-size: 1.5rem;
  }

  .card-bs {
    width: calc(30% - 1.25rem);
  }
}
@media screen and (max-width: 975px) {
 

  .card-bs {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 475px) {
 h2.section-heading{
  font-size: 35px !important;
 }
#about p{
  padding: 0 16px;
}
  .card-bs {
    width: calc(85% - 20px);
    margin: 20px auto;
  }
}